<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/brands.min.css">
    <title>Mazzbot</title>
</head>
<body>

    <section class="profile-grid">
        <!--=========== header section========= -->
 <section class="profile-header">

          <div class="profile-user">
        <div class="profile-image">
<img id="profileImage" src="../assets/images/client2.jpg" alt="Profile">
            <input type="file" id="profileUpload" accept="image/*" hidden>
       <button
                type="button"
                class="camera-btn"
                id="photoBtn"
                aria-label="Change profile picture">

                <i class="fa-solid fa-camera"></i>

            </button>
        </div>
       <div class="profile-info">
    <h1 id="userName"> Menna Mohammed</h1>
    <p id="memberSince"> Premium Health Member since May 2023 </p>

    <div class="profile-status">
        <span class="status active" id="accountStatus">    Active Profile   </span>
        <span class="status verified" id="verificationStatus">  Verified Identity  </span>
    </div>

</div>
    </div>

    <button type="button" class="edit-profile" id="editProfileBtn">
        <i class="fa-solid fa-pen"></i>
        Edit Profile
    </button>
    </section>

<!-- =============personal card================ -->
    <section class="personal-card profile-card">

       <div class="personal-header">
        <div class="personal-icon">
            <i class="fa-regular fa-address-card"></i>
        </div>
        <h2>Personal Info</h2>
    </div>
    <div class="personal-item">
        <div class="personal-content">
        <span>Age</span>
        <h3 id="userAge"> 25 Years </h3>
        </div>
        <div class="item-icon">
            <i class="fa-solid fa-cake-candles"></i>
        </div>
    </div>

    <div class="personal-item">
        <div class="personal-content">
           <span>Blood Type</span>
        <h3 id="bloodType">   A+ </h3>
        </div>
        <div class="item-icon blood">
            <i class="fa-solid fa-droplet"></i>
        </div>
    </div>
    <div class="personal-row">
        <div class="personal-small-card">
            <span>HEIGHT</span>
           <h3 id="userHeight"> 165 cm</h3>
        </div>
        <div class="personal-small-card">
            <span>WEIGHT</span>
           <h3 id="userWeight">  60 kg</h3>
        </div>
    </div>
    </section>
    
<!-- =========medical history============ -->

    <section class="medical-card profile-card">
        <div class="medical-header">
        <div class="medical-icon">
            <i class="fa-solid fa-shield-heart"></i>
        </div>
        <h2>Medical History</h2>
    </div>

    <div class="medical-content">

        <div class="medical-column">
            <h4>Chronic Diseases</h4>
            <!-- <div class="medical-tags">
                <span class="medical-tag danger">
                    <i class="fa-solid fa-circle"></i>
                    Hypertension
                </span>
                <span class="medical-tag gray">
                    <i class="fa-solid fa-circle-check"></i>
                    Diabetes
                </span>
            </div> -->
        <div
                class="medical-tags"
                id="diseasesContainer">

            </div>
        </div>
        <div class="medical-column">
            <h4>Allergies</h4>
            <!-- <div class="medical-tags">
                <span class="medical-tag warning">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    Penicillin
                </span>
                <span class="medical-tag warning">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    Seafood
                </span>
            </div> -->
        <div
                class="medical-tags"
                id="allergiesContainer">
            </div>
        </div>
    </div>
    </section>

<!-- ================caregiver-card=================== -->
    <section class="caregiver-card profile-card">
      
    <div class="caregiver-header">
        <div class="caregiver-title">
            <div class="caregiver-icon">
                <i class="fa-solid fa-user-group"></i>
            </div>
            <h2>Caregiver Information</h2>
        </div>
        <button class="add-btn">
            <i class="fa-solid fa-plus"></i>
            Add Secondary
        </button>
    </div>

    <div class="caregiver-grid profile-card">

        <div class="caregiver-column">
            <div class="caregiver-item">
                <div class="info-icon">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="info-content">
                    <span>Primary Caregiver</span>
                  <h3 id="caregiverName"></h3>
                  <p id="caregiverRelation"></p>
                </div>
            </div>
            <div class="caregiver-item">
                <div class="info-icon">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="info-content">
                    <span>Email Address</span>
                  <h3 id="caregiverEmail"></h3>
                </div>
            </div>
        </div>

        <div class="caregiver-column">
            <div class="caregiver-item">
                <div class="info-icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="info-content">
                    <span>Phone Number</span>
                   <h3 id="caregiverPhone"></h3>
                   <p class="online" id="caregiverStatus"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="alert-box">
        <div class="alert-text">
            <i class="fa-regular fa-bell"></i>
      <p id="alertMessage"></p>
        </div>

        <div class="toggle-switch active">
            <div class="toggle-circle"></div>
        </div>
    </div>
    </section>
<!-- ===========account-card================ -->
    <section class="account-card profile-card">
 <div class="account-header">
        <div class="account-title">
            <div class="account-icon">
                <i class="fa-solid fa-gear"></i>
            </div>
            <h2>Account Settings</h2>
        </div>
    </div>
    <div class="account-actions">
        <button class="action-btn export-btn">
            <i class="fa-solid fa-file-arrow-down"></i>
            Export Medical Report
        </button>
        <button class="action-btn password-btn">
            <i class="fa-solid fa-lock"></i>
            Change Password
        </button>
        <button class="action-btn danger-btn">
            <i class="fa-solid fa-trash"></i>
            Deactivate Account
        </button>
    </div>
</section>
    <script src="../assets/js/pages/profile.js"></script>

</body>
</html>
